body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
.bg-dark, .bg-light {
  transition: 0.2s all;
}
.navbar-brand {
  font-size: 1.8rem;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a:hover{
 text-decoration: none;
}

.icon-logo {
  font-size: 10rem;
}

:root {
  --twitch: #8554f6;
  --twitter: #48a1eb;
  --youtube: #eb3223;
}
.text-twitch{
  color: var(--twitch);
}
.bg-twitch{
  background-color: var(--twitch);
}
.text-twitter{
  color: var(--twitter);
}
.text-youtube{
  color: var(--youtube);
}
.widget:hover .twitch {
  color: var(--twitch);
  transition: all 0.4s;
  
}
.widget:hover .twitter {
  color: var(--twitter);
  transition: all 0.4s;
}
.widget:hover .youtube {
  color: var(--youtube);
  transition: all 0.4s;
}

.no-text-margin{
  margin: 0 ;
}
.no-container-space {
  padding: 0;
}

.profile-item{
  max-width: 300px;
  min-width: 140px;
}
.profile-item img{
  border-radius: 200px;
}
.small-text {
  font-size: 13.5px;
}
.med-text {
  font-size: 14.5px;
}
.stream-item{
  max-width: 450px;
  min-width: 300px;
}
.soft-corners {
  border-radius: 5px;
}
.overflow {
  overflow: auto;
}
/* color: #8554f6 */